<body>
    <div class="container">
        <img src="assets\img\efabli.png" class="logo" alt="Logo" />
        <h2>Reset Password</h2>
        <p class="subtitle">Enter your new password</p>

        <form (ngSubmit)="resetPassword()">
            <input type="password" placeholder="New Password" [(ngModel)]="password" name="password" required>
            <input type="password" placeholder="Confirm Password" [(ngModel)]="passwordConfirmation"
                name="passwordConfirmation" required>
            <button type="submit" class="button" [disabled]="loading">
                <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
                <span *ngIf="!loading">Reset Password</span>
            </button>
        </form>

        <div class="register">
            Remember your password? <a [routerLink]="['/login']">Sign In</a><br>
        </div>
    </div>
</body>